
<div class="welcomecontainer">

  <h1 class="welcometag">Welcome home, {{user.username[0]}}</h1>

  <div class="feedcontainer">

  <div class="feed-left-container">

    <div class="usermenu">
      <a ui-sref="welcome"><div class="myfeed">Feed</div></a>
      <a ui-sref="favorites"><div class="myfeed highlight"><span>Favorites</span></div></a>
      <a ui-sref="recentlyviewed"><div class="myvideos">Recently Viewed</div></a>
      <div class="ondemand">On Demand</div>
    </div>

      <div class="appearancelinks">
        Show:
        <a href="#">All</a>|
        <a href="#">Likes</a>|
        <a href="#">Uploads</a>|
        <a href="#">Appearances</a>|
        <a href="#">Channels</a>|
        <a href="#">Groups</a>|
        <a href="#">Tags</a>|
        <a href="#">Categories</a>
      </div>

      <h2 class="htwofavorites">Favorites</h2>

      <div class="feed">

  <dog-breath></dog-breath>

        <video-component
          get-video="favorites">
        </video-component>

        <!-- <div class="trendingvideos" ng-repeat="video in favorites">
                <img ng-click="goToVideo(video.uri)" ng-src="{{video.pictures.sizes[3].link}}" alt="">
            <div class="detailsbox">
                <strong class="trendingvideoname">{{video.name}}</strong>
                <br>
                from <strong>{{video.user.name}}</strong>
                </a> | <strong><span>Plays:</span></strong> {{video.stats.plays}}
                <br> {{video.description}}...
            </div>
        </div> -->
      </div>


  </div>

    <div class="feed-right-container">
      <div class="recentactivity">

        <div class="mypeoplebar">
          MY PEOPLE
        </div>
          <p>You do not currently have friends online.</p>

        <div class="explore">
          EXPLORE VIDMEO
        </div>
            <ul>
              <li class="exploretitles">Vidmeo On Demand</li>
                <p>Purchase online films, series, and videos or sell your own.</p>
              <li class="exploretitles">Staff Picks</li>
                <p>A fantastic array of videos hand-picked by us.</p>
              <li class="exploretitles">Channels</li>
                <p>Showcase and watch videos in simple, beautiful ways.</p>
              <li class="exploretitles">Categories</li>
                <p>Find the things on Vidmeo that interest you.</p>
            </ul>


      </div>
    </div>

  </div>

</div>
