<div class="container-of-this-shit">


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active item-1">
      <img src="../../public/images/nw-crop.jpg" alt="">
      <div class="carousel-caption">
        <div class="description">
            <h2>Nick Wooster</h2>
            <p>from <span>archinoid</span></p>
            <p>biodiesel asymmetrical, coloring book activated charcoal hella post-ironic kogi gentrify literally authentic 3 wolf moon. Thundercats mumblecore mlkshk.
            </p>
            <div class="scrollingwatchnow"><a ui-sref="player"><button class="watchnow"><img class="play" src="../../public/images/playicon.png" alt=""> Watch Now</button></a></div>
        </div>
      </div>
    </div>
    <div class="item item-1">
      <img src="../../public/images/jk2.jpg" alt="">
      <div class="carousel-caption">
        <div class="description">
            <h2>Jester King</h2>
            <p>from <span>joematpal</span></p>
            <p>biodiesel asymmetrical, coloring book activated charcoal hella post-ironic kogi gentrify literally authentic 3 wolf moon. Thundercats mumblecore mlkshk.
            </p>
            <div class="scrollingwatchnow"><button class="watchnow" ng-click="#"><img class="play" src="../../public/images/playicon.png" alt=""> Watch Now</button></div>
        </div>
      </div>
    </div>
    <div class="item item-1">
      <img src="../../public/images/lm2.jpg" alt="">
      <div class="carousel-caption">
        <div class="description">
            <h2>CHVRCHES</h2>
            <p>from <span>joematpal</span></p>
            <p>biodiesel asymmetrical, coloring book activated charcoal hella post-ironic kogi gentrify literally authentic 3 wolf moon. Thundercats mumblecore mlkshk.
            </p>
            <div class="scrollingwatchnow"><button class="watchnow"><img class="play" src="../../public/images/playicon.png" alt=""> Watch Now</button></div>
        </div>
      </div>
    </div>
    <div class="item item-1">
      <img src="../../public/images/moto-crop-shade.jpg" alt="">
      <div class="carousel-caption">
        <div class="description">
            <h2>Hello Moto</h2>
            <p>from <span>joematpal</span></p>
            <p>biodiesel asymmetrical, coloring book activated charcoal hella post-ironic kogi gentrify literally authentic 3 wolf moon. Thundercats mumblecore mlkshk.
            </p>
            <div class="scrollingwatchnow"><button class="watchnow"><img class="play" src="../../public/images/playicon.png" alt=""> Watch Now</button></div>
        </div>
      </div>
    </div>
    <div class="item item-1">
      <img src="../../public/images/mtn.jpg" alt="">
      <div class="carousel-caption">
        <div class="description">
            <h2>Life in Utah</h2>
            <p>from <span>joematpal</span></p>
            <p>biodiesel asymmetrical, coloring book activated charcoal hella post-ironic kogi gentrify literally authentic 3 wolf moon. Thundercats mumblecore mlkshk.
            </p>
            <div class="scrollingwatchnow"><button class="watchnow"><img class="play" src="../../public/images/playicon.png" alt=""> Watch Now</button></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>

<div class="staffpicks">
  <div class="header">
    <a ui-sref="trending"><h3 class="headerlabel">Watch human-curated Staff Picks</h3></a>
    <p class="viewchannel"><a ui-sref="trending"><span>View channel ></span></a></p>
  </div>
</div>

<div class="videorow">
  <div class="leftinfobar"><img src="../../public/images/staffpick.svg" alt="Staff Picks">
    <div class="leftinfotextcontainer">
      <h4>Vimeo Staff Picks</h4>
      <p>We really love videos, and these are the videos we really, really love.</p>
    </div>
    <button class="follow">+ Follow</button>
  </div>
    <div class="topvideocontainer">
      <div class="video" id="embed" ng-repeat="video in fiveVideos">
          <img ng-click="goToVideo(video.uri)" ng-src="{{ video.pictures.sizes[1].link_with_play_button}}" alt="">
        </a>
        <a href="{{video.link}}">
          <strong class="videoname">{{video.name}}</strong>
          <br>
          {{video.user.name}} | Plays: {{video.stats.plays}}
          <br>
          <a href="{{video.link}}">Watch now</a>
      </div>
    </div>

</div>
